@import "./Variable.scss";
.heading {
  position: relative;
  width: 100%;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 3rem;
  z-index: 10;
  &__title h3 {
    font-size: 2rem;
    font-weight: 500;
  }
  &__hr {
    width: 200px;
    height: 2px;
    background-color: $colorOgrange;
    margin: 0 auto;
    margin-top: 1rem;
  }
}
.text-white {
  color: white;
  text-shadow: 2px 2px 5px black;
}
